.materia-table-container {
   
    margin: 0 auto;
    padding: 5%;
  background-color: #1c1425;
  
  color: #d8b6e2;
  }
  
  .materia-table {
    width: 90%;
    border-collapse: collapse;
  }
  
  .materia-table th, .materia-table td {
   
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .materia-table input[type="text"] {
    width: 100px;
    padding: 5px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #9403fa;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .eliminar-btn {
    background-color: #ff4c4c;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .eliminar-btn:hover {
    background-color: #ff0000;
  }